<div class="backgroundcolor">
    <div class="container">

        <div class="row">
            <div class="alert alert-danger" role="alert" *ngIf="response">
                {{response}}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col">
                    <app-employee-menu></app-employee-menu>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="color">Current Employees</h3>
        </div>
        <div class="row">
            <div class="col">

                <div class="row">


                    <table class="table table-bordered" class="table table-hover" *ngIf="employees">
                        <thead>
                        <tr class="table-success">
                            <th>Index</th>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Email</th>
                            <th>DOB</th>
                            <th>Gender</th>
                            <th>Active</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tempEmployee of employees;let i=index">
                            <td>{{i + 1}}</td>
                            <td>{{tempEmployee?.code}}</td>
                            <td>{{tempEmployee?.name}}</td>
                            <td>{{tempEmployee?.employeeType}}</td>
                            <td>{{tempEmployee?.email}}</td>
                            <td>{{tempEmployee?.dob}}</td>
                            <td>{{tempEmployee?.gender}}</td>
                            <td><span *ngIf="tempEmployee?.active">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
                                  </svg>
                            </span><span *ngIf="!tempEmployee?.active"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                              </svg></span></td>
                            <td><button type="button" class="btn btn-outline-primary"
                                    (click)="goToForm(tempEmployee.id)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                      </svg> Update Employee</button></td>
                            <td><button type="button" class="btn btn-outline-danger"
                                    (click)="deleteEmployee(tempEmployee.id)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                      </svg> Delete Employee</button></td>
                        </tr>
                    </tbody>
                    </table>
                   
                </div>

            </div>

        </div>
    </div>

</div>
